body {
  color: white;
  background-color: black;
  max-width: 100vw;
  overflow-x: hidden;
}

.search-bar {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  transition: all 1s;
  width: 200px;
  height: 50px;
  background: black;
  box-sizing: border-box;
  border-radius: 25px;
  cursor: pointer;
}

input {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  line-height: 42.5px;
  outline: 0;
  border: 0;
  font-size: 1em;
  border-radius: 20px;
  padding-left: 10px;
  background-color: black;
  color: rgb(57, 255, 20);
}

input::placeholder {
  color: rgba(57, 255, 20, 0.7);
}

.search-btn {
  box-sizing: border-box;
  padding: 10px;
  width: 42.5px;
  height: 42.5px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-25%, -50%);
  border-radius: 50%;
  color: #07051a;
  text-align: center;
  font-size: 1.2em;
  transition: all 1s;
  border: none;
  background-color: rgb(57, 255, 20);
  color: black;
}

.background-img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.background-gradient {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 50vh,
    rgba(0, 0, 0, 1) 80vh
  );
  z-index: 5;
  width: 100vw;
  height: 100vh;
}

.main-content {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 50vh,
    rgba(0, 0, 0, 1) 80vh
  );
  min-height: 100vh;
  width: 100vw;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  padding-left: 5vw;
  padding-bottom: 7vw;
}

.flex-wrap-container:nth-of-type(1) {
  padding-top: 55vh;
}

.flex-wrap-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.flex-wrap-container h1 {
  text-transform: uppercase;
  margin: 0;
}

.flex-wrap-container h3 {
  color: rgb(57, 255, 20);
  text-transform: lowercase;
  margin: 0;
}

.flex-wrap-container h4 {
  margin: 0;
}

p {
  width: 90vw;
}

.icon-btn {
  border: none;
  background-color: transparent;
  color: white;
}

.list-container h3 {
  margin-bottom: 0.5em;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  max-width: 90vw;
}

ul li {
  display: inline-block;
  padding: 0 0.5rem;
  text-align: center;
}

ul li:not(:last-child) {
  border-right: 1px solid white;
}

li button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: white;
}

ol {
  padding-left: 5vw;
  max-width: 90vw;
}

ol li:not(:last-child) {
  margin-bottom: 0.5rem;
}
